[Unit]
Description=kube-scheduler: assigns pods to nodes intelligently
Documentation=https://kubernetes.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User=kubernetes
# Common environment variables
EnvironmentFile=/etc/sysconfig/kube-common
# Kube-scheduler specific configuration
EnvironmentFile=/etc/sysconfig/kube-scheduler
ExecStart=/usr/bin/kube-scheduler \
    --kubeconfig $KUBECONFIG