---
# Import tasks for the specific OS being built
- include_tasks: "{{ ansible_distribution }}.yml"

# Common to all distributions
- name: ensuring limits.conf is up to date
  copy:
    src: etc/security/limits.conf
    dest: /etc/security/limits.conf
    mode: 0644

- name: create ivy user
  user:
    name: ivy
    shell: /sbin/nologin
    home: /var/empty
    system: yes

- name: install custom scripts
  copy:
    src: opt/ivy/
    dest: /opt/ivy/
    mode: 0755

- name: override ivy default tag if ansible var present
  lineinfile:
    path: /opt/ivy/tag
    line: "{{ ivy_tag }}"
    create: yes
  when: ivy_tag != "" # noqa 602

- name: add datadog repo
  yum_repository:
    name: datadog
    description: Datadog, Inc.
    baseurl: https://yum.datadoghq.com/stable/7/x86_64/
    gpgkey:
      - https://yum.datadoghq.com/DATADOG_RPM_KEY_E09422B3.public
      - https://yum.datadoghq.com/DATADOG_RPM_KEY_20200908.public
    gpgcheck: yes
    repo_gpgcheck: no

- name: copy gostatsd systemd unit for new relic
  copy:
    src: etc/systemd/system/gostatsd.service
    dest: /etc/systemd/system/gostatsd.service

- name: setup syslog logrotation
  copy:
    src: etc/logrotate.d/syslog
    dest: /etc/logrotate.d/syslog

- name: Check that /etc/logrotate.conf exists
  stat:
    path: /etc/logrotate.conf
  register: logrotate_conf

- name: remove dateext from logrotate
  lineinfile:
    dest: "/etc/logrotate.conf"
    regexp: "^dateext$"
    line: '#dateext'
  when: logrotate_conf.stat.exists

- name: Check that /etc/cron.daily/logrotate exists
  stat:
    path: /etc/cron.daily/logrotate
  register: daily_logrotate

- name: make logrotate hourly
  command:
    creates: "/etc/cron.hourly/logrotate"
    cmd: "mv /etc/cron.daily/logrotate /etc/cron.hourly/logrotate"
  when: daily_logrotate.stat.exists

- name: disable icmp redirect messages in cloud environments
  copy:
    src: etc/sysctl.d/01-no-icmp-redirect.conf
    dest: /etc/sysctl.d/01-no-icmp-redirect.conf
    mode: 0644

- name: increase maximum mapped file count
  copy:
    src: etc/sysctl.d/99-max_map_count.conf
    dest: /etc/sysctl.d/99-max_map_count.conf
    mode: 0644

- name: add udev rule to map instance storage to /dev/ephemeral
  copy:
    src: etc/udev/rules.d/99-aws-ephemeral-devices.rules
    dest: /etc/udev/rules.d/99-aws-ephemeral-devices.rules
    mode: 0644

- name: add scripts and binaries to /usr/loca/bin
  copy:
    src: "usr/local/bin/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
  loop:
    - bpftrace
    - gostatsd
    - nextdevice

- name: install utilities
  package:
    name:
      - git
      - bcc
      - curl
      - "datadog-agent-{{ dd_version }}"
      - ethtool
      - gcc
      - git
      - glibc-devel
      - groff-base
      - htop
      - iotop
      - iperf
      - iproute
      - iproute-tc
      - iptraf
      - jq
      - less
      - make
      - mdadm
      - msr-tools
      - nload
      - nmap-ncat
      - nvme-cli
      - perf
      - rsync
      - socat
      - sysstat
      - tmux
      - traceroute
      - unzip
      - wget
      - xfsprogs
      - tcpdump
      - systemd-devel
    state: latest
    enablerepo:
      - datadog
      - epel

- name: create /opt/ivy/cloud-tools/(msr-cloud-tools|bpf-perf-tools-book)
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /opt/ivy
    - /opt/ivy/misc-tools
    - /opt/ivy/misc-tools/msr-cloud-tools
    - /opt/ivy/misc-tools/bpf-perf-tools-book

- name: clone msr-cloud-tools and bpf-perf-tools
  git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest }}"
  loop:
    - { repo: 'https://github.com/brendangregg/msr-cloud-tools.git', dest: '/opt/ivy/misc-tools/msr-cloud-tools' }
    - { repo: 'https://github.com/brendangregg/bpf-perf-tools-book.git', dest: '/opt/ivy/misc-tools/bpf-perf-tools-book' }

- name: add datadog agent to the systemd-journal group
  user:
    name: dd-agent
    append: yes
    groups: systemd-journal

- name: Check that /.dockerenv exists
  stat:
    path: /.dockerenv
  register: dockerenv

- name: disable datadog-agent on first boot
  systemd:
    name: "{{ item }}"
    enabled: no
    state: stopped
  loop:
    - datadog-agent
  when: not dockerenv.stat.exists

- name: install development tools
  package:
    name: "@Development tools"
    state: present

- name: add ivy bash profile tweaks
  copy:
    src: etc/profile.d/ivy.sh
    dest: /etc/profile.d/ivy.sh
    mode: 0644

- name: make rsyslog spool dir
  file:
    path: /var/spool/rsyslog
    state: directory
    mode: 0755

- name: perform system yum update
  package:
    name: "*"
    state: latest

- name: install yq
  get_url:
    url: "https://github.com/mikefarah/yq/releases/download/v{{ yq_version }}/yq_linux_amd64"
    dest: /usr/bin/yq
    mode: 0755

- name: download and unarchive awscli v2
  unarchive:
    src: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /tmp/
    remote_src: yes

- name: install awscli v2
  shell:
    cmd: /tmp/aws/install --update

- name: install pip packages
  pip:
    name:
      - azure-cli
